Game Of Life/Library
Game Of Life/Temp
Game Of Life/Logs
Game Of Life/UserSettings
.idea
Game Of Life/obj
#Game Of Life/Builds/
Game Of Life/Builds/GameOfLife_LinuxServerBuild_BurstDebugInformation_DoNotShip